/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
:root {
    --navbar-height: 59px;
}
/* Navigation Bar: Logo and image */
#logo {
    margin: 10px 34px;
    background-color: white;
    border-radius: 50px;

}
#logo img {
    margin: 1px 35px 0px 35px;
    height: 50px;
}
#companyname {
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
#navbar {
    height: 3.8rem;
    display: flex;
    align-items: center;
    top: 0%;
    position: sticky;

}

/* Navigation Bar: List Items and its styling */
#navbar ul {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    text-decoration: none;

}
#navbar::before {
    content: "";
    background-color: #5bb3e3;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -80;

}
#navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    margin: 0px 8px;
    border-radius: 20px;
    color: white;
}
#navbar ul li a:hover {
    color: white;
    background-color: rgb(63 125 173);
    cursor: pointer;
}
.right {
    position: absolute; 
    right: 35px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.btn{
    color: white;
    background-color:rgb(63 125 173);
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    margin: 12px 5px 0px 7px;

}
.btn:hover{
    color: black;
    background-color:white;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
}

/* Services section */
#services {
    
    margin: 30px 40px;
    display: flex;
    text-align: center;  
}
#services .box {
    justify-content: center;
    width: 30%;
    padding: 20px 10px;
    border: 4px solid #294f9e;
    border-radius: 40px;
    margin: 20px 36px;
    /* border: 3px red solid; */
}
#services .box img {
    height: 200px;
    padding: 20px;
    
}
#services .box p {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;

}
#km {
    font-size: 1rem;
    padding: 0;
    width: 110px;
    height: 40px;
    background-color: white;
    color: rgb(41 79 158);
    border: 3px #294f9e solid;
    text-decoration: none;
}   

#bn {
    font-size: 0.9rem;
    padding: 0;
    width: 110px;
    height: 40px;
    background-color: rgb(41 79 158);
    border: 3px #294f9e solid;
    color: white;
    text-decoration: none;
}
#service-box {
    font-size: 4rem;
    margin: 55px 0px 46px 0px;
    color: rgb(41 79 158);
    padding: 14px;
    margin-bottom: 20px;
}

/* Button section */
#btn {
    padding: 14px 42px;
    border: 2px solid rgb(35, 33, 33);
    background-color: #f39519;
    color: white;
    margin: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

footer{
    height: 50px;
    text-align: center;
    background-color: white;
    color:black;

}
.copyrightimg{
    margin-bottom: 0px;
    width: 1.4rem; 
    margin: 2px 10px;
    cursor: pointer;
}
/* All text Center */
.center {
    text-align: center;
    text-decoration: none;

}
#bn {
    font-size: 0.9rem;
    padding: 0;
    width: 110px;
    height: 40px;
    background-color: rgb(41 79 158);
    /* color: white; */
    border: 3px #294f9e solid;
    margin: 12px 5px 0px 7px;
    color: white;
}
#color{
    color: #294f9e;
    text-decoration: none;
}
